*{
    top: 0;
    left: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #EBEBEB;
    /* background-color: #242424; */
}

.music{
    display:none;
}
/* app */
.header{
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.377) ;
    box-shadow: 0px 2px  4px  0px rgba(0, 0, 0, 0.178);
}
.header .logo{
    width: 80%;
    height: 100px;
}

.header .logo .logo-image{
    width: 110px;
    height: 80px;
     
}

.logo a {
    width: 20%;
    justify-content: left;
}


.header ul {
    width: 150%;
    display: flex;
    justify-content: right;
    gap: 55px;
    line-height: 20px;
    list-style: none;
}

.header ul li {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    /* align-items: center; */
    justify-content: space-evenly;
}

.header a{
    color: #000;
    width: 70px;
    padding: 5px 8px;
    border-radius: 10px;
    text-align: center;

}
.header ul li a:hover{
    cursor: pointer;
    color: #7B1FA2;
    border: 2px solid #7B1FA2;
    transition: ease-out all 1s;
}

/* Carrito header*/
.carrito {
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: black; */
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.bubbleAlert {
    background-color: #7B1FA2;
    border-radius: 50px;
    color: #FFF;
    padding: 2px 8px;
    font-size: 0.9rem;
    width: 20px;
    text-decoration: none;
}
.bubble {
    position: relative;
    top: -2px;
}

.main-container{
    padding: 0px 20px;
    text-align: center;
    margin-top: 10px;
}

.main-container h1{
    text-transform: uppercase;
    font-weight: 200;
    margin-bottom: 10px;
}

/* Productos */
.items-list{
    margin: auto auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
}

.item {
    text-align: center;
    margin-bottom: 15px;
    cursor: pointer;
}

.item .product-image {
    margin-top: 10px;
    width: 80%;
    height: 100%;
}


.item:hover {
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* transition: ease-in 1s; */
}

.item:hover .product-image {
    transform: scale(1.1);
    /* zoom: normal; */
}

.item:hover .description{
    display: block;
}

.name{
    text-transform: uppercase;
    font-size: 1.2em;
    margin-bottom: 1px;
    font-family:  "Noto-sans",sans-serif;
}
.price{
    margin-top:  5px;
    font-weight: 700;
    font-size: 1.1rem ;
    color: #242424b4;
}
.price::before{
    content: "$";
}
.description{
    
    text-align: justify;
    font-size: 12px;
    display: none;
}
<<<<<<< HEAD
=======
.btncomp{
    color: rgb(56, 142, 60);
    width: 100%;
    padding: 8px;
    /*border: 2px solid rgb(56, 142, 60);*/
    border: 2px solid #2E7D32;
    border-radius: 6px;
    font-weight: 600;
}

>>>>>>> aca24db89e83eaed9299608b4de2e183143bc795

/* Carrito */
.detalle-carrito{
    display: flex;
    width: 90%;
    margin: auto;
}
.cart-productos {
    top: -50px;
    font-family: "Noto-sans", sans-serif;
    border-radius: 4px;
    width: 50%;
    height: 100%;
    margin: auto;
    text-transform: uppercase;
    font-size: 1em;
}

.item-carrito{
    width: 100%;
    display: flex;
    margin: 5px 0;
    border: 1px solid rgba(0, 0, 0, 0.178);
    padding: 8px;
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    align-items: center;
}

.item-carrito:hover{
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.item-carrito .item-img{
    width: 33%;
    height: auto;
    align-items: center;
}

.item-carrito .item-img .avatar{
    width: 60px;
    border-radius: 50%;
    height: 60px;
    background-position: center;
}

.item-text{
    width: 33%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: left;
}

.item-text .text-titulo{
    margin: 0px 0px 3px;
    font-weight: 600;
}   
 .item-text .text-precio{
    margin: 0;
    color: #272424;
    margin-bottom: 3px;
    font-weight: 600;
    font-style: italic;
    font-size: 16px;
 }

 .item-actions{
    display: flex;
    justify-content: space-between;
 }

 .item-actions .cantidad-buttons{
    height: 100%;
    padding: 5px 0px 2px 0px;
    font-weight: 500;
    font-size: 1rem;
    border-bottom:1px solid #000 ;
 }
 
 .cantidad-buttons .btn{
    border: none;
    background-color: transparent;
    font-weight: bold;
    font-size: 1rem;
    margin:0px 3px 
 }
.cantidad-buttons .btn:hover{
  background-color: #cfcfcf;
  cursor: pointer;
  border-radius: 6px;
}

 .text-cantidad{
    text-transform: capitalize;
 }

.item-actions{
    align-items: center;
    text-align: center;
    height: 100%;
    width: 33%;
}

.resumen-container{
    min-width: 350px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.377);
    border-radius: 4px;
    padding: 0 10px;
    height: 100%;
}

.titulo-resumen {
    width: 100%;
    text-transform: uppercase;
    font-size: 1rem;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.377);
}
.resumen{
    text-align: start;
    list-style-type: none;
    margin: 8px 0;
    padding-left: 0;
    font-weight: 400;
    line-height: 1.5rem;
    text-transform: capitalize;
}

.resumen li{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.377);
}
.resumen p{
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
    justify-content: space-between !important;
}
.left{
    text-align: end;

}


.resumen-total h3{
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.resumen-actions{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 10px;

}


/* 
.liked{
    cursor: pointer;
    margin-left: 10px;
    align-items: center;
    justify-content: center;
} */

.precio-total {
	border: none;
	background-color: #000;
	color: #fff;
	padding: 15px 0;
	display: block;
	width: 100%;
	margin-top: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	font-family: inherit;
	cursor: pointer;
    font-size: 16px;
    transition: all .3s ease;
}

.vaciar-carrito {
	border: none;
	background-color: #000;
	color: #fff;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: auto;

}

.pagar {
	border: none;
	background-color: #000;
	color: #fff;
    padding: 10px;

}

/* Forms */
.container {
    margin: 15px auto;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    max-width: 400px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
/*admin*/
/* .main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FFCC99; /* Tono cálido */
  /* } */
/*   
  .containers {
    text-align: center;
  }
   */
  /* h1 {
    margin-top: 20px;
    float: left;
  } */
  
  /* .ad {
    margin-top: 20px;
  } */
  
  /* .role {
    text-align: center;
    margin-top: 20px;
  } */
  
  /* .nam {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  } */
  
  /* .cor {
    margin-top: 10px;
  } */
  
  /* .max,
  .men,
  .see,
  .add {
    text-align: left;
    margin-top: 20px;
    float: left;
  } */
   
  /* .max button,
  .men button,
  .see button,
  .add button {
    display: block;
    width: 200px;
    margin-top: 10px;
    padding: 10px;
    background-color: #FF6347; /* Tono cálido */
    /* color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-self: flex-start;  */
   
   
   
  /* } */
  
  
  

.form{
    width: 95%;
    margin:  5px auto;
}

form label{
    display: block;
    text-align: left;
    padding-left:34px;
    margin-bottom: 5px;
    font-weight: 500;
}

.form-group {
    margin-bottom: 20px;
}

.row {
    display: flex;
}

.info-login{
    width: 80%;
    margin: 0px auto 10px auto;
}

.input{
    width: 80%;
    padding: 8px;
    border: 1px solid #7B1FA2;
    border-radius: 10px;
}
 .input:focus{
    border: 1px solid rgba(0, 0, 0, 0.377);
 }

.button{
    background-color: #7B1FA2;
    
}
  
.nous{
    padding: 2px;
    margin: 5px 0;
}

.form-info .btn{
    margin: 10px 0px 10px 0;
    /* background-color: #9C27B0; */
    background-color: #000;
    padding: 8px;
    border-radius:4px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.7rem;
    color: white;
    font-weight: 600;
}
.error-message {
    color: red;
  }
  
.success-message {
    color: green;
  }

.container2 {
    max-width: 400px;
    margin: 0 auto;
    background-color: red;
  }


.login {
    color: #7B1FA2;
    padding: 18px;
  }

.btn {
    padding: 18px;
  }

.btn3{
    padding: 18px;
    width: 80%;
    border-radius: 3px;
  }

.paypal{
    border-radius: 4px;
    max-width: 350px;
    width: 350px;
    padding: 20px;
    margin: auto auto;
    z-index: 2;
    position: absolute;
    justify-content: start;
    align-items: start;
    text-align: center;
    right: -980px;
    top:65%;
}

.paypal::before{
    content: "";
    background-color: rgba(0, 0, 0, 0.377);
    width: 100%;
    height: 100%;
}

.container{
    padding: 20px;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

